<section class="section">
  <div class="box">
    <h1 class="title is-2">About</h1>
    <p class="subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit
      accusantium, eveniet sunt labore porro, fugiat nesciunt rerum deserunt
      recusandae corrupti inventore consectetur? Itaque, sequi amet ipsum totam
      quo quisquam excepturi! Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Saepe, tempora suscipit blanditiis distinctio maxime natus hic
      similique labore neque voluptatem officia accusamus perspiciatis expedita
      provident laudantium iste tenetur at cum?
    </p>
  </div>
</section>