<section class="section">
    <div class="box">
      <h1 class="title is-1">
        Notes app Node.js and MongoDB
      </h1>
      <hr>
      <p class="section">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis eos atque maiores excepturi molestias, quibusdam expedita minima consequatur culpa ipsa consequuntur repellat eaque maxime impedit nam qui alias? Doloribus, maxime!
      </p>
      <a class="button is-link is-light" href="https://www.rokujs.me" target="_blank" >Web</a>
    </div>
  </section>